# Entorns virtuals
.venv/
venv/
ENV/
env/

# Fitxers temporals de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fitxers de logs, configs i variables d'entorn
*.log
*.env
.env.*

# Altres fitxers temporals
*.swp
.DS_Store
.idea/
.vscode/
*.sqlite3